@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #000; }

main section {
  display: grid;
  grid-column: auto;
  margin-top: -460px;
  margin-left: 40px;
  text-align: right;
  list-style: none;
  margin-bottom: 29px; }
  main section ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    list-style: none;
    margin-bottom: 29px;
    margin-right: -50px; }
    main section ul li a {
      font-size: 30px;
      list-style: none;
      color: #000;
      font-family: "Poppins", sans-serif;
      padding: 20px;
      background-color: #D0CBC4;
      width: 629px;
      height: 129px;
      text-align: center;
      line-height: 100px;
      margin-top: 50px;
      text-decoration: none;
      float: right; }

.contactos {
  margin-top: 100px; }

h2 {
  text-align: center;
  font-size: 25px; }

.trabalho {
  margin-left: 180px;
  line-height: -30px;
  list-style: none;
  font-size: 25px; }

footer {
  margin-top: 100px;
  text-align: center;
  font-size: 10px;
  font-family: Helvetica;
  line-height: 4px; }

body {
  background-color: #F0F2E5; }

a:hover {
  color: #002496; }

h1 {
  text-align: center; }

li {
  list-style: none; }

.img {
  width: 420px;
  height: 400px;
  margin-left: 50px;
  margin-top: 40px; }

.content-card {
  display: flex;
  width: 600px;
  height: 430px;
  margin-left: 625px;
  margin-top: 100px; }

.content-card img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .7;
  transition: .5s ease; }

.content-card img:hover {
  cursor: default;
  width: 300px;
  opacity: 1;
  filter: contrast(120%); }

.color {
  width: 100%;
  background-color: #002496; }
  .color .main {
    margin-left: 740px;
    width: 340px;
    background-size: 100%; }

.prices {
  width: 467px;
  height: 709px;
  margin-left: 700px; }

.info {
  margin-left: 370px; }

.navbar, .contactob {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px; }

.volver {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-family: 'Poppins';
  list-style: none; }

.buttons {
  min-width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px; }

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #000000;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all .4s ease-in-out; }

.buttons a:hover {
  transform: scale(1.2); }

@media (max-width: 1440px) {
  .color .main {
    margin-left: 600px; }
  .info {
    margin-left: 250px; }
  .prices {
    margin-left: 540px; }
  .content-card {
    margin-left: 500px; } }

@media (max-width: 1024px) {
  .contactoa {
    width: 429px;
    height: 129px;
    text-align: center; }
  .color {
    width: 100%; }
    .color .main {
      margin-left: 360px; }
  .main {
    margin-left: 590px; }
  .imagen {
    margin-left: 390px; }
  .content-card {
    margin-left: 250px; }
  .info-contacto {
    margin-left: -760px; }
  .prices {
    margin-left: 300px; }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: -700px; }
  .info {
    width: 850px;
    height: 700px; } }

@media (max-width: 768px) {
  .img {
    margin-left: 240px;
    margin-top: 70px;
    width: 296px;
    height: 293px; }
  .margin {
    margin-left: 150px;
    list-style: none; }
  .derecha {
    margin-right: 45px; }
  .header-informacion {
    margin-left: -525px; }
  .imagen {
    margin-right: -450px; }
  .uñas {
    text-align: left; }
  .flex-container {
    margin-left: 70px; }
  .info-contacto {
    margin-left: -1000px; }
  .content-card {
    margin-left: 100px; }
  .contactoa {
    width: 629px;
    height: 129px;
    text-align: center; }
  .trabalho {
    margin-left: 170px;
    margin-top: 20px; }
  .prices {
    margin-left: 180px; }
  .buttons {
    margin-left: -600px; }
  .color {
    width: 100%; }
    .color .main {
      margin-left: 250px; }
  .buttons {
    margin-left: 20px; }
  .derecha {
    margin-bottom: 400px; }
  .grid {
    margin-top: 30px;
    margin-left: -170px; }
  .info {
    width: 600px;
    height: 450px;
    margin-left: 100px; } }

@media (max-width: 425px) {
  .content-card {
    margin-left: 0px; }
  .info-contacto {
    font-size: 25px; }
  .contactob {
    margin-left: 40px; }
  .section {
    width: 800px; }
  .color {
    width: 800px; }
    .color .main {
      margin-left: 250px; }
  .img {
    margin-left: 245px; }
  .grid {
    margin-right: -314px; }
  .main {
    margin-right: -220px; }
  .trabalho {
    margin-left: 25px; }
  .info {
    margin-left: 250px; }
  .info1 {
    margin-left: 300px; }
  .content-card {
    margin-left: 100px; }
  .aviso {
    margin-left: 200px; }
  .header-contacto {
    width: 800px; }
  .info {
    margin-left: 150px; }
  .info1 {
    margin-left: 180px; }
  .cuidado {
    line-height: 80px; }
  .header-informacion {
    width: 1150px; }
  .imagen {
    margin-left: 700px; }
  .prices {
    margin-left: 180px; }
  .info {
    width: 750px;
    height: 650px;
    margin-left: 20px; }
  .trabalho {
    margin-left: 180px; }
  .navbar, .contactob {
    list-style: none;
    margin-left: 40px; }
    .navbar .contactoi, .contactob .contactoi {
      margin-left: 300px; } }

/*mobile*/
@media (max-width: 320px) {
  .section {
    width: 800px; }
  .main {
    margin-left: 210px; }
  .img {
    margin-left: 245px; }
  .grid {
    margin-left: 66px; }
  .main {
    margin-right: -220px; }
  .trabalho {
    margin-left: 165px; }
  .header-informacion {
    width: 1600px; }
  .infou .info {
    width: 750px;
    height: 700px; }
  .navbar, .contactob {
    margin-left: 30; }
    .navbar .contactoi, .contactob .contactoi {
      margin-left: 400px; } }
