@media (max-width: 425px){

    .content-card{
        margin-left: 0px;
    }
    
    .info-contacto{
        font-size: 25px;
    }
    
    .contactob{
        margin-left: 40px;
    }
    .section{
        width: 800px;
    }
    .color{
        width: 800px;
        .main{
            margin-left: 250px;
        }
    }
    .img{
        margin-left: 245px;
    }
    .grid{
        margin-right: -314px;
    }
    .main{
        margin-right: -220px;
    }
    .trabalho{
        margin-left: 25px;
    }
    .info{
        margin-left: 250px;
    }
    .info1{
        margin-left: 300px;
    }
    
    .content-card{
        margin-left: 100px;
    }
    .aviso{
        margin-left: 200px;
    }
    .header-contacto{
        width: 800px;
    }
    .info{
        margin-left: 150px;
    }
    .info1{
        margin-left: 180px;
    }
    
    .cuidado{
        line-height: 80px;
    }
    .header-informacion{
        width: 1150px;
    }
    .imagen{
        margin-left: 700px;
    }
    .prices{
        margin-left: 180px;
    }
    .info{
        width: 750px;
        height: 650px;
        margin-left: 20px;
    }
    .trabalho{
        margin-left: 180px; 
    }
.navbar{
    list-style: none;
    margin-left: 40px;
    .contactoi{
        margin-left: 300px;
    }
}
    }
    
        /*mobile*/
    
        
        @media (max-width: 320px){
    .section{
        width: 800px;
    }
    .main{
        margin-left: 210px;
    }
    .img{
        margin-left: 245px;
    }
    .grid{
        margin-left: 66px;
    }
    .main{
        margin-right: -220px;
    }
    .trabalho{
        margin-left: 165px;
    }
    .header-informacion{
        width: 1600px;
    }
    .infou{
        .info{
            width: 750px;
            height: 700px;
        }
    }

    .navbar{
        margin-left: 30;
        .contactoi{
            margin-left: 400px;
        }
    }

    }
    
    