@media(max-width: 1024px){
    .contactoa{
        width: 429px;
    height: 129px;
    text-align: center;
    }
    .color{
        width: 100%;
        .main{
            margin-left: 360px;
        }
    }
    .main{
        margin-left: 590px;
    }
    
    .imagen{
        margin-left: 390px;
    }
    
    
    .content-card{
        margin-left: 250px;
    }
    
    .info-contacto{
        margin-left: -760px;
    }
    .prices{
        margin-left: 300px;
    }
    .buttons{
        display: flex;
        justify-content: space-evenly;
        margin-left: -700px;
    }
    .info{
        width: 850px;
        height: 700px;
    }
    }