// variables
$negro: #000;
$fuente: 'Poppins', sans-serif;

a{
    font-family: $fuente ;
    text-decoration: none;
    color: $negro;
}

main{
    section{  display: grid;
        grid-column: auto;
        margin-top: -460px;
        margin-left: 40px;
        text-align: right;
        list-style: none;
        margin-bottom: 29px;
        ul{   display: flex;
            flex-direction: column;
            text-align: right;
            list-style: none;
            margin-bottom: 29px;
            margin-right: -50px;
            li{
                a{
                    font-size: 30px;
                    list-style: none;
                    color: $negro;
                    font-family: $fuente;
                    padding: 20px;
                    background-color: #D0CBC4;
                    width: 629px;
                    height: 129px;
                    text-align: center;
                    line-height: 100px;
                    margin-top: 50px;
                    text-decoration: none;
                    float: right; 
                }
            }
        }
    }
}

    .contactos{
        margin-top: 100px;
    }

h2{
    text-align: center;
    font-size: 25px;
}
.trabalho{
    margin-left: 180px;
    line-height: -30px;
    list-style: none;
    font-size: 25px;
}

