@media (max-width: 768px){


    .img{
    margin-left: 240px;
    margin-top: 70px;
    width: 296px;
    height: 293px;
    }
    .margin{
        margin-left: 150px;
        list-style: none;
    }
    .derecha{
        margin-right: 45px;
    }
    .header-informacion{
        margin-left: -525px;
    }
    
    .imagen{
        margin-right: -450px;
    }
    .uñas{
        text-align: left;
    }
    .flex-container{
        margin-left: 70px;
    }
    .info-contacto{
        margin-left: -1000px;
    }
    .content-card{
    margin-left: 100px;
    }
    
    .contactoa{
        width: 629px;
    height: 129px;
    text-align: center;
    }
    .trabalho{
        margin-left: 170px;
        margin-top: 20px;
    }
    .prices{
        margin-left: 180px;
    }
    .buttons{
        margin-left: -600px;
    }
    .color{
        width: 100%;
        .main{
            margin-left: 250px;
        }
    }
    .buttons{
        margin-left: 20px;
    }
    .derecha{
        margin-bottom: 400px;
    }
    .grid{
        margin-top: 30px;
        margin-left: -170px;
    }
    .info{
        width: 600px;
        height: 450px;
        margin-left: 100px;
    }

    }

    